<h1>Listing tracks</h1>

<table>
  <thead>
    <tr>
      <th>Track</th>
      <th>audio url</th>
      <th>audio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.title %></td>
        <td><%= track.audio.url %></td>
        <td><%= track.audio %></td>

       
      </tr>
    <% end %>
  </tbody>
</table>

<br>
