<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <h1 id="logo"> What's up, Rav?<h1>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Sign Out", signup_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>